.table {
  margin-top: 20px;
  overflow: scroll;
  color: #d8d8d8;
  background-color: #13171f;
  /* background-color: #2e353e; */
  height: 400px;
  overflow-x: hidden;
}

.table::-webkit-scrollbar{
  /*Your styles here*/
  background-color: #ccc;
  width: 5px;
}
.table::-webkit-scrollbar-thumb{
  /*Your styles here*/
  background-color: #2e353e;
} 

.table tr {
  display: flex;
  justify-content: space-between;
  background-color: #13171f;
  border-bottom: 1px solid #fff;
}

.table td {
  padding: 0.5rem;
  border: none;
}

/* .table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
} */
