.infoBox {
  flex: 1;  
  background-color: #2e353e !important;
  border-top: 10px solid #2e353e;
}
.infoBox--white{  
  color: #fff;
}
.infoBox:not(:last-child) {
  margin-right: 10px;
}

.infoBox--selected {
  border-top: 10px solid greenyellow;
}

.infoBox--red {
  border-color: red;
}

.infoBox__total--green {
  color: lightgreen !important;
}

.infoBox__total {
  color: #cc1034;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  font-weight: 900;
}

@media (max-width: 400px) {
  .infoBox__total {
    font-size: 1rem;
  }
}


.infoBox__cases {
  color: #6c757d;
  font-weight: 700 !important;
  font-size: 1rem !important;
  margin-top: 15px !important;
}
